<!DOCTYPE html>
<html lang="en">
<head>
    <title>Idea Details</title>
    <meta charset="utf-8" />

    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/images/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}/css/basic-template.css">
    <link rel="stylesheet" href="{{STATIC_URL}}/css/idea_details.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="navbar-header website-title">
        <a class="navbar-brand" href="{% url 'ip_app:ideasListing' %}">Individual Project</a>
    </div>
    <div class="top-bar collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="{% url 'ip_app:ideasListing' %}"><b>Ideas Listing</b></a>
            </li>
            <li>
                <a href="{% url 'ip_app:userIdeas' %}"><b>Your Ideas</b></a>
            </li>
            <li>
                <a href="{% url 'ip_app:submitIdea' %}"><b>Submit An Idea</b></a>
            </li>
        </ul>
        <ul class="nav pull-right">
            <li><a href="{% url 'ip_app:logout' %}">Logout</a></li>
        </ul>
    </div>
    <div class="title"><h1>Idea Details</h1></div>
    <div class="container main-section">
        <!-- Main section of the page goes here -->
        {% if idea %}
            <h1 id="idea-title"><strong>{{idea.title}}</strong></h1>
            <br/>
            <table>
                <tr>
                    <td width="20%" ></td>
                    <td width="80%"></td>
                <tr>
                <tr>
                    <td valign="top"><strong>Submitted by:</strong></td>
                    <td>{{idea.submittor_id.first_name}} {{idea.submittor_id.last_name}}</td>
                </tr>
                <tr>
                    <td valign="top"><strong>Industry:</strong></td>
                    <td>{{idea.get_industry_display}}</td>
                </tr>
                <tr>
                    <td valign="top"><strong>Description:</strong></td>
                    <td>{{idea.description}}</td>
                </tr>
                <tr>
                    <td valign="top"><strong>Keywords:</strong></td>
                    <td>{{idea.keywords}}</td>
                </tr>
                <tr>
                    <td valign="top"><strong>Liked by:</strong></td>
                    <td>{{idea.rating}} people</td>
                </tr>
            </table>
        {% else %}
            <p>No such idea.</p>
        {% endif %}
    </div>
</body>

</html>
