<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ideas Listing</title>
    <meta charset="utf-8" />

    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/images/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}/css/basic-template.css">
    <link rel="stylesheet" href="{{STATIC_URL}}/css/ideas_listing.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}/js/ideas_listing.js"></script>
</head>

<body>
    <div class="navbar-header website-title">
        <a class="navbar-brand" href="{% url 'ip_app:ideasListing' %}">Individual Project</a>
    </div>
    <div class="top-bar collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="{% url 'ip_app:ideasListing' %}"><b>Ideas Listing</b></a>
            </li>
            <li>
                <a href="{% url 'ip_app:userIdeas' %}"><b>Your Ideas</b></a>
            </li>
            <li>
                <a href="{% url 'ip_app:submitIdea' %}"><b>Submit An Idea</b></a>
            </li>
        </ul>
        <ul class="nav pull-right">
            <li><a href="{% url 'ip_app:logout' %}">Logout</a></li>
        </ul>
    </div>
    <div class="title"><h1>Ideas Listing</h1></div>
    <div class="container-fluid main-section">
        <!-- Main section of the page goes here -->
        {% if all_user_likes %}
            {% for userlike in all_user_likes %}
                <div class="row">
                    <div class="col-xs-6 col-md-4 row-like">
                        <!-- Like button -->
                        <button class="like-button btn" idea-id="{{ userlike.idea.idea_id }}">
                            {% if userlike.like_dislike == 1 %}
                                <img src="{{STATIC_URL}}/images/like-like.png" alt="Like the idea" />
                            {% else %}
                                <img src="{{STATIC_URL}}/images/neutral-like.png" alt="Like the idea" />
                            {% endif %}
                        </button>
                    </div>
                    <a href="{% url 'ip_app:ideaDetails' userlike.idea.idea_id %}">
                        <div class="col-xs-6 col-md-4 idea-row">
                            {{ userlike.idea.title }}
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p>No ideas are available.</p>
        {% endif %}
    </div>
</body>

</html>
