<!DOCTYPE html>
<html lang="en">
<head>
    <title>Submit an Idea</title>
    <meta charset="utf-8" />

    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/images/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}/css/basic-template.css">
    <link rel="stylesheet" href="{{STATIC_URL}}/css/submit_idea.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="navbar-header website-title">
        <a class="navbar-brand" href="{% url 'ip_app:ideasListing' %}">Individual Project</a>
    </div>
    <div class="top-bar collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="{% url 'ip_app:ideasListing' %}"><b>Ideas Listing</b></a>
            </li>
            <li>
                <a href="{% url 'ip_app:userIdeas' %}"><b>Your Ideas</b></a>
            </li>
            <li>
                <a href="{% url 'ip_app:submitIdea' %}"><b>Submit An Idea</b></a>
            </li>
        </ul>
        <ul class="nav pull-right">
            <li><a href="{% url 'ip_app:logout' %}">Logout</a></li>
        </ul>
    </div>
    <div class="title"><h1>Submit An Idea</h1></div>
    <div class="container main-section">
        <!-- Main section of the page goes here -->
        <form name="submit_idea" action="{% url 'ip_app:submitIdea' %}" method="post">{% csrf_token %}
            <label for="title">Title: </label>
            <input id="title" type="text" name="title" maxlength="50" placeholder="Title (50 characters or less)" />
            <br/>

            <label for="industry">Industry: </label>
            <select id="industry" type="text" name="industry">
                <option value="H">Health</option>
                <option value="T">Technology</option>
                <option value="E">Education</option>
                <option value="F">Finance</option>
                <option value="R">Travel</option>
            </select>
            <br/>

            <label for="description">Description: </label>
            <textarea id="description" type="text" name="description" placeholder="Description"></textarea>
            <br/>

            <label for="keywords">Keywords: </label>
            <input id="keywords" type="text" name="keywords" placeholder="Keywords (space or comma separated)" />
            <br/>

            {% if field_missing %}
                <span id="invalid">Please fill in all fields</span>
                <br/>
            {% elif success_submit %}
                <span id="success-submit">Successfully submitted idea</span>
                <br/>
            {% endif %}

            <br/>
            <input type="submit" value="Submit Idea" />
        </form>
    </div>
</body>

</html>
